.app {
  height: 100vh;
}

body {
  background-image: url("./pictures/cover.jpg");
}

.app-name {
  font-size: 33px;
  color: aliceblue;
  width: 600px;
  text-align: center;
  margin-bottom: 80px;
}

.main-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(22, 32, 45, 0.879);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-container {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
}

.connect-wallet-text {
  text-align: center;
  padding-top: 10%;
}

button {
  width: 300px;
  height: 50px;
  background-color: rgb(29, 47, 69);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 10px;
}

button:hover {
  background-color: rgb(22, 32, 45);
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}
